nav.navbar{
    background-color: black;
    color: white;
}

a.navbar-brand {
    color: white;
}

a.nav-link {
    color: white;
}

a:active {
    color: green;
}

.event-example {
    line-height: 5px;
}

#exampleweather {
    color: green;
    display: inline-block;
}

a.navbar-brand {
    color: #28a745;
    font-size: 28px;
}
